.standard-button {
  color: #1F3E77;
  outline: none;
  font-size: 14px;
  background: none;
  border: 1px solid #1F3E77;
  padding: 15px;
  margin: 5px;
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
}

.standard-button:hover {
  background: #FFF176;
}

.standard-button--selected,
.standard-button--selected:hover {
  color: white;
  background: #1F3E77;
}
